footer( class="footer section")
    div( class="footer__container bd-grid")
        div( class="footer__box")
            img( src="img/logofreeze.png" class="logo__imgfooter")
            //- h3( class="footer__title") Roby
            p( class="footer__description") Tu Tienda Vape Favorita.

        div( class="footer__box")
            h3( class="footer__title") EXPLORAR
            ul
                li
                    a( href="#home" class="footer__link") Inicio
                li
                    a( href="#productos" class="footer__link") Productos
                li
                    a( href="#vendidos" class="footer__link") Más vendidos
                li
                    a( href="#contacto" class="footer__link") Contacto
            
        div( class="footer__box")
            h3( class="footer__title") SOPORTE
            ul
                li
                    a( href="#" class="footer__link") Atención al Cliente
                li
                    a( href="#" class="footer__link") Servicio Autorizado
                li
                    a( href="#" class="footer__link") Promociones
            
        div( class="footer__box")
            a( href="#" class="footer__social")
                i( class='bx bxl-facebook')
            a( href="#" class="footer__social")
                i( class='bx bxl-instagram')
            a( href="#" class="footer__social")
                i( class='bx bxl-tweeter')
            a( href="#" class="footer__social")
                i( class='bx bxl-google')

    p( class="footer__copy") &#169; 2020 Diseñado por Eduardo Jmz     