header(class='l-header' id='header')
	nav(class='nav bd-grid')
		div.nav__toggle#nav-toggle
			i(class="bx bxs-grid")
		a.nav__logo(href="#")
			img( src="img/logofreeze.png" class="logo__img")
			div(class="nav__menu" id="nav-menu")
				ul(class="nav__list")
					li(class="nav__item")
						a(class="nav__link active" href="#home") Home
					li(class="nav__item")
						a(href="#productos" class="nav__link") Productos
					li(class="nav__item")
						a( href="#vendidos" class="nav__link") Más Vendidos
					li(class="nav__item")
						a(href="#contacto" class="nav__link") Contacto
					li(class="nav__item")
						a(href="./shop" class="nav__link") Shop

			div(class="nav__shop")
				i( class='bx bx-cart-alt')
			div(class="nav__shop")
				i( class='bx bx-search-alt-2')