doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title= title
		//- link(rel="stylesheet", href="/css/responsimple.min.css")
		link(rel="stylesheet", href="/css/estilos.css")
		link(rel="stylesheet", href="/css/swiper-bundle.min.css")
		//- <!-- ===== BOX ICONS ===== -->
		link(rel="stylesheet", href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css")
	body

		include header
		
		block content